.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 205px;
    padding: 12px;
    margin-bottom: 45px;
    border: 2px solid $main;
    background-color: $main;
    transition: all 0.2s;
    font-weight: 500;
    color: $white;

    &:hover {
        background-color: $white;
        color: $main;
      }
}