.section-title {
    font-size: 35px;
    font-weight: 600;
    color: $main;
}
.section-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.section-description__title {
    font-size: 25px;
    font-weight: 500;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.input-container__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 25px;
}
.modal-button {
    width: 245px;
    padding: 10px;
    background-color: $white;
    border: 1.5px solid $dark;
    transition: all 0.2s;
}
.modal-button:hover {
    background-color: $dark;
    color: $white;
}
.confirm-button {
    width: 245px;
    padding: 10px;
    background-color: $main;
    border: 1.5px solid $main;
    color: $white;
    transition: all 0.2s;
}
.confirm-button:hover {
    background-color: $white;
    color: $main;
}
@media (min-width: 320px) {
    .section-description p {
        text-align: center;
    }
    .button-container {
        margin: 20px 0 10px;
    }
}