.countdown {
    margin: 20px auto;

    p {
        color: $main;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
    }
    span {
        color: $dark;
    }
}