.footer {
    background-color: $main;
    padding: 25px 0;
}
.footer-items,
.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 51px;
    padding: 5px;
}
.footer-socials img {
    width: 45px;
    height: 45px;
}
.footer-items__link {
    color: $white;
    font-weight: 500;
}
.footer-items__link:hover {
    color:#fff;
}
@media (max-width: 680px) {
    .footer-items,
    .footer-socials {
        column-gap: 25px;
    }
}