.register {
    margin: 10px auto;
}
.register__form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.register__title {
    text-align: center;
    font-weight: 600;
    font-size: 31px;
    color: $main;
    margin-bottom: 12px;
}
.register__input {
    display: block;
    margin-top: 6px;
    padding: 5px 7px;
    border: none;
    border-bottom: 1.5px solid $main;
}
.register__submit {
    display: block;
    padding: 9px 21px;
    margin: 0 auto;
    border: 1.5px solid $main !important;
    background-color: $main !important;
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $main;
        background-color: $white !important;
    }
}
.google-button {
    display: block;
    padding: 9px 21px;
    margin: 3.5px auto;
    background-color: rgb(251, 188, 5) !important;
    border: 1.5px solid rgb(251, 188, 5);
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: rgb(251,188,5);
        background-color: $white !important;
    }
}
.register__link {
    font-size: 15px;
    margin-top: 8px;
}
.register__error {
    text-align: center;
    color: $main;
}